* {
	box-sizing: border-box;
	margin: 0; !important
	padding: 0;
}

body {
	color: white;
	background-color: grey;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 60px;
}

nav a {
	padding-right: 10px;
	color: aqua;
	text-decoration: none;
	
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
	text-align: center;
	background-color: black;
}

h1 {
	padding: 0 0 10px 0;
}

.section__1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;
	width: 100%;
}

.section__2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;
	width: 100%;
}

.section__3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;
	width: 100%;
}


.footer__content {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
}

